[*.cs]

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none

# IDE0065: using 지시문은 namespace 선언 아래에 둡니다
csharp_using_directive_placement = inside_namespace:warning

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none
